.copyright{
  background: #2b2f35;
  .cop_wrapper{
    margin: 0 117px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 17px;
    @media (max-width: 1080px) {
      margin: 0;
    }
    .year{
      padding: 17px 0 0 0;
      margin: 0 auto;
      span{
        font-size: 12px;
        font-family: OpenSans-Regular;
        color: #6e7279;
        letter-spacing: .6px;
      }
    }
    .icons{
      padding: 17px 0 0 0;
      display: flex;
      margin: 0 auto;
    }
  }
}