main{
  .wrapper_main{
    margin: 155px 117px 0 117px;
    @media (max-width: 1458px) {
      margin: 155px 0 0 0;
    }
    .name_cards{
      text-align: center;
      margin-bottom: 66px;
      span{
        font-family: Raleway-Bold;
        font-size: 24px;
        line-height: 20.26px;
        letter-spacing: .6px;
        text-align: center;
        color: $Base-blue;
        position: relative;
        cursor: default;
        &:before{
          content: '';
          transition: .4s ease;
          position: absolute;
          left: 0;
          bottom: -39px;
          margin-left: 2.6rem;
          width: 50%;
          height: 4px;
          background: $brand-color;
        }
      }

    }
    .cards_wrapper{
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      @media (max-width: 1458px) {
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
      }
      @media (max-width: 977px) {
        justify-content: space-around;
      }
      .card_wrapper{
        margin-bottom: 26px;
        &:nth-child(even){
          margin: 0 10px 26px 10px;
          @media (max-width: 480px) {
            margin: 0 0 26px 0;
          }
        }
        .card_img{
          min-width: 320px;
          max-width: 320px;
          height: 320px;
          transition: .4s;
          cursor: pointer;
          @media (max-width: 480px) {
            min-width: calc(100vw - 50%);
          }
          &:hover{
            filter: contrast(125%) drop-shadow(2px 2px 2px gray);
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .bottom_card{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .right_col{
            display: flex;
            padding-top: 29px;
            margin: 0 auto;
          }
          .left_col{
            padding-top: 29px;
            margin: 0 auto;
          }
        }
      }
    }
    .main_submit{
      margin-top: 40px;
      margin-bottom: 33px;
      text-align: center;
      a{
        text-transform: uppercase;
        font-family: OpenSans-Regular;
        font-size: 16px;
        line-height: 24px;
        color: $Base-black1;
        border-radius: 25px;
        border: 1px solid $Base-black1;
        padding: 18px 38px;
        cursor: pointer;
        transition: .4s ease;
        &:hover{
          background: $brand-color;
          border: 1px solid $brand-color;
          color: white;
        }
      }
    }
  }
}