.copyright
    .container
        .cop_wrapper
            .year
                span © 2016  Fapor by Respotheme
            .icons
                a(href='https://www.facebook.com' class='icon')
                    i(class="fab fa-facebook-f")
                a(href='https://twitter.com' class='icon')
                    i(class="fab fa-twitter")
                a(href='https://plus.google.com' class='icon')
                    i(class="fab fa-google-plus-g")
                a(href='#' class='icon')
                    i(class="fas fa-basketball-ball")
