footer
    .container
        .footer_wrapper
            .footer_info
                .about
                    .title_footer about fapor
                    .content_footer We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.
                .contact_info
                    .title_footer contact info
                    .content_footer PO Box 17122 Nollins Streetb <br>5034 Los Angelos <br><br>Phone: 1800555.0658 <br>Email: support@fapor.com Web: fapor.com
                .subscribe
                    .title_footer subscribe to our newsletter
                    form(name='myform')
                        input(type='email' name='email' id='email' placeholder='Enter your email address')
                        button(type='submit' id='validate') SUBSCRIBLE NOW
                    .result

