header
    .container
        nav
            a(href='#' class='logo')
                img(class='img-logo' src='build/static/img/icon.png' alt='img-logo')
            ul(class='nav-list')
                li
                    a(href='#') HOME
                li
                    a(href='#') ABOUT
                li
                    a(href='#') SERVICE
                li
                    a(href='#') PORTFOLIO
                li
                    a(href='#') CONTACT
        .header_content
            span MORE ABOUT US

