main
    .container
        .wrapper_main
            .name_cards
                span MANAGEMENT
            .cards_wrapper
                .card_wrapper
                    .card_img
                        img(class='img-logo' src='build/static/img/Specialist.jpg' alt='Specialist')
                    .bottom_card
                        .left_col
                            .name_specialist courteney cox
                            .specialty marketing manager
                        .right_col
                            a(href='https://www.facebook.com' class='icon')
                                i(class="fab fa-facebook-f")
                            a(href='https://twitter.com' class='icon')
                                i(class="fab fa-twitter")
                            a(href='https://plus.google.com' class='icon')
                                i(class="fab fa-google-plus-g")
                .card_wrapper
                    .card_img
                        img(class='img-logo' src='build/static/img/Specialist.jpg' alt='Specialist2')
                    .bottom_card
                        .left_col
                            .name_specialist matt leblanc
                            .specialty finance manager
                        .right_col
                            a(href='https://www.facebook.com' class='icon')
                                i(class="fab fa-facebook-f")
                            a(href='https://twitter.com' class='icon')
                                i(class="fab fa-twitter")
                            a(href='https://plus.google.com' class='icon')
                                i(class="fab fa-google-plus-g")
                .card_wrapper
                    .card_img
                        img(class='img-logo' src='build/static/img/Specialist.jpg' alt='Specialist3')
                    .bottom_card
                        .left_col
                            .name_specialist david schwimmer
                            .specialty creative director
                        .right_col
                            a(href='https://www.facebook.com' class='icon')
                                i(class="fab fa-facebook-f")
                            a(href='https://twitter.com' class='icon')
                                i(class="fab fa-twitter")
                            a(href='https://plus.google.com' class='icon')
                                i(class="fab fa-google-plus-g")
            .main_submit
                .submit
                    span show all