.swiper
    .container
        .sw_wrapper
            .swiper_text
                i(class="fas fa-angle-left")
                i(class="fas fa-angle-right")
                span what your clients say
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .wrapper_slide
                            .swiper_img
                                img(src='build/static/img/swiper_img.jpg' alt='specialist')
                            .swiper_content
                                span Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.
                            .name_specialist larry jane
                            .specialty general manager
                    .swiper-slide
                        .wrapper_slide
                            .swiper_img
                                img(src='build/static/img/swiper_img.jpg' alt='specialist')
                            .swiper_content
                                span Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.
                            .name_specialist larry jane
                            .specialty general manager
                    .swiper-slide
                        .wrapper_slide
                            .swiper_img
                                img(src='build/static/img/swiper_img.jpg' alt='specialist')
                            .swiper_content
                                span Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.
                            .name_specialist larry jane
                            .specialty general manager
                .swiper-pagination