/* Font face ==== */

/* Open Sans ==== */
@font-face {
  font-family: OpenSans-Regular;
  src: url("../font/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Bold;
  src: url("../font/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../font/OpenSans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSans-Light;
  src: url("../font/OpenSans/OpenSans-Light.ttf");
}
/* Raleway ==== */
@font-face {
  font-family: Raleway-Bold;
  src: url("../font/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url("../font/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: Raleway-Medium;
  src: url("../font/Raleway/Raleway-Medium.ttf");
}
