// Vars ==== //

// Fonts && ...

// Colors  === //
$brand-color: #b5a263;
$Base-blue: #24282f;
$Base-blue1: lighten(#2b2f35, 5%);
$Base-black: #232323;
$Base-black1: #24282f;
$Base-grey: #dedede;
$Base-grey1: #f7f7f7;